[Unit]
Description=Shairport Display
ConditionPathExists=/dev/dri/card0

[Service]
Environment=QT_QPA_PLATFORM=eglfs
Environment=QT_QPA_EGLFS_INTEGRATION=eglfs_kms
Environment=QT_QPA_EGLFS_HIDECURSOR=1
Environment=QT_LOGGING_RULES=qt.qpa.*=true
Environment=QT_QPA_EGLFS_KMS_CONFIG=/path/to/shairport-display-qt/shairport-display.json
Environment=QT_QPA_EGLFS_KMS_ATOMIC=1
ExecStart=/path/to/shairport-display-qt/shairport-display-qt.py
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
